@charset "utf-8";
@import "../../node_modules/bulma/bulma.sass";
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

$regular: 2000px;
$medium: 1000px;
$white: '#fefefe';

.main_container{
    position: absolute;
    width:100vw;
    height:100vh;
    top: 0px;
    right: 0px;
    background-size: 1952px 1099px;
    background-position: 0px -75px;
    background-size: cover;
    background-image: url(".././assets/lightbulb.png");
}

.div1{
    position: absolute;
    width: 100vw;
    height:100vh;
    transition: 1s transform ease-in;
}
.kevinahlHeader {
    position: absolute;
    width: 778px;
    height: 560px;
    left: 300px;
    top: 200px;
    
    font-family: Poppins;
    font-style: normal;
    font-weight: bold;
    font-size: 330px;
    line-height: 330px;
    @media screen and (max-width: $regular) {
        font-size: 240px;
        line-height: 240px;
    }
    @media screen and (max-width: $medium) {
        font-size: 180px;
        line-height: 180px;
    }
    
    color: #FEFEFE;
    
    text-shadow: 2px 4px 25px rgba(125, 113, 81, 0.53);

}

